<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Animals</h1>
    {%for animal in animal_list%}
        Animal name: {{animal.name}}
        Legs: {{animal.legs}}
        Weight: {{animal.weight}}
        Height: {{animal.height}}
        Speed: {{animal.speed}}
        Family: {{animal.family}}</p>
        {%endfor%}
    </p>
</body>
</html>