body{
    background-color: black;
    color: white;
    text-align: center;
    background-image: url("https://i.giphy.com/media/TxVVB6PfWMjE4/200.webp");
    font-family: Verdana, Geneva, Tahoma, sans-serif

}

#page{
    margin: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 5rem;
}


#content{
    margin-top: 5rem;
    font-size: 1.2rem;
    padding: 15px;
    margin-bottom: 2rem;
    width: 400px;
    height: 300px;
    border: 3.5px solid yellow;
    border-radius: 20px;
}

.logo{
    margin: -90px;
    padding: -30px;
    color: yellow;
    text-align: center;
    font-size: 7rem;
    font-family: 'Star Jedi Hollow', sans-serif; 
}

.button{
    background-color: black;
    border: 3.5px solid yellow;
    border-radius: 10px;
    padding: 5px;
    color: yellow;
    font-weight: bold;
    text-align: center;
    font-size: 1.3rem;
    width: 50%;
}

button:hover {
    border: 3.5px solid rgb(255, 255, 96);
    opacity: 70%;
    color: rgb(255, 255, 96);
  }

.name{
    font-size: 1.9rem;
}

.signature{
    font-size: 1rem;
    margin: 3%;
}

.loading {
    font-size: 1.8rem;
    font-weight: bold;
}
