body{
    background-color: #0d0551;
    background-image: url(Tor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: rgb(253, 253, 187);
    margin: 0px;
    font-family: 'Comme', sans-serif;
}

nav, footer{
    background-color: rgb(0, 0, 0);
    height: 70px;
    position: relative;
    color: beige;
}

nav img {
    width: 50px;
    position:absolute;
    padding: 10px 20px;
    left: 20px;
}

ul{
    position:absolute;
    right: 20px;
}

li{
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    margin: 0px 10px;
}


a{
    color: azure;
    font-size: 1.2em;
    text-decoration: none;
}


main{
    width: 65vw;
    height: 50vh;
    margin: 250px 50px 0px 70px;   
}


h1{
    font-size: 4em;
    text-transform: uppercase;
}

p{
    font-size: 1.1em;
}

footer{
    width: 100vw;
    text-align: center;
    padding-top: 25px;
    position: fixed;
    bottom: 0px;
}

/* on Small devices (portrait tablets and large phones, 600px and up): */
@media only screen and (min-width: 600px ) {
    h1 {
        font-size: 35px;
    }

    nav {
        background-color: yellow;
        color: black;
    }

  }

  /* on Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px ) {
    h1 {
      font-size: 25px;
    }

    nav {
        background-color: lightgreen;
        color: black;
    }

  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px ) {
    nav {
        background-color: red;
        color: white;
    }

    h1{
        display: inline;
        margin-right: -214px;
    }

    p{
        display: inline;
        position: relative;
        left: 250px; 
    }

  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200x ) {
    nav {
        background-color: black;
        color: white;
    }

  }
