<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Gif</h1>
    <img src="{{gif.url}}" alt="">
    
        <p>Likes: {{gif.likes}}</p>
        
    <p>
        {{gif.title}}
        {{gif.uploader_name}}
        {{gif.created_at}}
    </p>
    <form method="post" action="{% url 'gif' gif.id %}">
        {% csrf_token %}
    <p> <button type="submit" name="action" value="like" style="background-color: green;">like</button>
        <button type="submit" name="action" value="dislike"   style="background-color: red;">dislike</button>
    </p>
    </form>
    
    


    
</body>
</html>