body{
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    background-repeat: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(218, 218, 218);
}

.container{
    width: 80vw;
    background-color: brown;
    background-image: url(leaves.jpg);
    margin-left: auto;
    margin-right: auto;
}

header{
    height: 5vh;
    background-color: lightgray;
    position: relative;
    padding: 10px;
}
header > button {
    position: absolute;
    right: 5vw;
}
header > p {
    position: absolute;
    font-weight: bold;
    color: rgb(46, 46, 46);
    left: 5vw;
}
button{
    background-color: rgb(0, 153, 255);
    border: none;
    color: white;
    height: 20px;
    margin: 10px;
}
.main-part {
    color:white;
    height: 400px;
}

.main-part > section {
    display: inline-box;
    background-color: rgb(3, 246, 145);
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.main-part + section {
    background-color: lightgray;
}

.card {
    display: inline-block;
    width: 20%;
    margin: 20px;
    border: 1px solid;
} 