
.conteiner-1{
    margin: 40px;
    padding: 10px;
    width: 1000px;
    height: 400px;
    background-color: rgb(255, 249, 229);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15%;

}

.column *, .row *{
    width: 70px;
    height: 70px;
    background-color: rgb(255, 255, 0);
    border: 1px solid rgb(0, 0, 0);
}

.column {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
}

.row {
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}  