@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #A2FF86;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.todoWrapper {
  background: #164B60;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.todoForm {
  width: 100%;
}

.todoInput {
  outline: none;
  background: none;
  border: 1px dotted #A2FF86;
  padding: 0.75rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 300px;
  color: #fff;
}

.todoInput::placeholder {
  color: #ffffff4d;
}

.todoButton {
  background: transparent;
  margin-left: 3px;
  color: #fff;
  border: 1px dotted #A2FF86;
  padding: 0.75rem;
  cursor: pointer; 
}

.todoButton:hover {
  background: rgba(0, 0, 0, 0.15);
  margin-left: 3px;
  color: #fff;
  border: 1px dotted #A2FF86;
  padding: 0.75rem;
  cursor: pointer; 
}

.todoButton:active {
  background: rgba(0, 0, 0, 0.4);
  margin-left: 3px;
  color: #fff;
  border: 1px dotted #A2FF86;
  padding: 0.75rem;
  cursor: pointer; 
}

.elementTodoList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px dotted #A2FF86;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.icon {
  margin-left: 0.75rem;
}

.completed {
  color: #24666f;
  text-decoration: line-through;
}