body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: rgb(77, 80, 81);
}
.container{
    border-color:darkcyan;
    margin: 0px;
    min-height: 100vh;
}

.card{
    border-radius: 20px;
    background-color: aliceblue;
}

.quote{
    font-size: 1.4rem;
    font-weight: bold;
}

.author{
    color: blueviolet;
}

.button{
    background-color: darkgrey;
    width: 150px;
    height: 30px;
    border-radius: 10px;
}